.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

span {
  color: #2e2f42;
}

.list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.6;
  background-color: #ffffff;
}

header {
}

.logo_footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-size: x-small;
}

UL {
  list-style: none;
}

a {
  text-decoration-line: none;
}

button {
  background-color: #e7e9fc;
  color: #4d5ae5;
}

a:hover {
  text-decoration: none;
}

button:hover {
  background-color: #9098e9;
}
